.topsection {
    background-color: #F0EDF5;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.whytrustus {
    padding: 100px 30px;
    margin: 0 auto;
}

.row {
    justify-content: space-evenly;
    display: flex;
    gap: 40px;
}

.imageandcard {
    align-items: center;
    min-width: 35%;
}

.introduction {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.reasons {
    display: flex;
    flex-direction: row;
    max-width: 550px;
    justify-items: center;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.answer {
    justify-content: space-between;
    align-items: left;
}

.purplecard {
    position: relative;
    top: -74%;
    left: -50%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: 397px;
    width: 288.71px;
    background-color: #F0EDF5;
    box-shadow: 0px 4px 20px #67637125;
    justify-content: space-evenly;
    padding-top: 100px;

}

.year {
    padding-top: 20px;
}

.weddingcake {
    height: 100%;
    background-image: url(../images/weddingcake.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}