* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1717b8;
}

div.relative {
    position: relative;
    width: 50%;
    height: 650px;
    background: blue;
    margin: auto;
    background-image: url(../images/man.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


div.box1 {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 210px;
    height: 110px;
    border-radius: 8px;
    background: white;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

div.box2 {
    position: absolute;
    bottom: 40px;
    left: -80px;
    width: 301px;
    height: 176px;
    border-radius: 5px;
    background: #ccff00;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.child {
    justify-items: center;
    flex-direction: row;
    display: flex;
    align-items: center;

}

.child1 {
    gap: 10px;
}

.contents {
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
}

.progressbar {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.divider {
    height: 1px;
    background: #000000;
}