@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

footer {
    width: 85%;
    margin: 80px auto 0 auto;
    background: #191A23;
    border-radius: 45px 45px 0 0;
    padding: 60px;
    color: white;
}

.footerlogo {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    color: #FFFFFF margin-bottom: 35px;
}

.footer-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top {
    display: flex;
    gap: 15px;
    align-items: center;
}

.email-box {
    width: 300px;
    height: 65px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}

.newsletter {
    display: flex;
    background: #191A23;
    gap: 20px;
    border-radius: 18px;
    align-items: center;
    padding: 55px;
}

.footerbar {
    display: flex;
    gap: 55px;
}

.footersocial {
    display: flex;
    width: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container1 {
    line-height: 28px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.left {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo {
    width: 219.54px;
    height: 56px;
    margin-right: 20px;
}

.content {
    width: 60%;
}

.text {
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-style: regular;
    font-weight: 400;
}

.black {
    color: rgb(0, 0, 0);
}

.white {
    color: rgb(255, 255, 255);
}

.whitebutton {
    background-color: rgb(255, 255, 255);
    padding: 20px 32px;
    border: 1px solid rgb(25, 26, 35);
    border-radius: 12px;
}

.blackbutton {
    background-color: rgb(25, 26, 35);
    padding: 20px 32px;
    border-radius: 14px;
    margin: 30px 0px;
}

.companylogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
    font-style: medium;
    font-weight: 500;
    text-align: left;
    padding: 0px 6px;
    background-color: #B9FF66;
    border-radius: 7px;
}

.servicescontainer {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 140px;
    margin-bottom: 1px;
}

.servicesp {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-style: regular;
    font-weight: 400;
}


.column {
    display: flex;
    gap: 45px;
    width: 100%;
    max-height: 210px;
    border-radius: 45px;
    border: 1px solid #000000;
    box-shadow: 0px 5px 0px #000000;
    justify-content: space-between;
    padding: 50px 50px;
}