.top {
    display: flex;
    background-color: #f0edf5;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 45px 0;

}

.top-image {
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

.top-image img {
    width: 80%;

}

.top-text {
    width: 40%;
    padding-left: 73px;
    margin-top: 60px;
}



.section-title-purple {
    margin-bottom: 24px;
    margin-top: 24px;
    width: 80%;

}


.body-text {
    width: 80%;
    margin-bottom: 24px;
}

.creating {
    padding: 100px 40px;

}

.creating-title {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.creating-title h1 {
    margin: 0px auto 0;
}

.creating-title p {
    width: 55%;
    margin: 40px auto 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    width: 16.66%;
    text-align: center;
}

.icon-box img {
    width: 30%;
    height: 30%;
}

.icon-box .body-text {
    width: 100%;
    margin-bottom: 24px
}

.product {
    display: flex;
    align-items: center;

}

.product-image {
    width: 50%;
}

.product-image img {
    width: 100%;
    display: block;
}

.product-text {
    width: 50%;
    padding: 50px 50px;
}

.product-one {
    display: flex;
}

.product-one-text {
    width: 50%;
    margin-left: 80px;
    margin-top: 40px;
}

.product-one-small {
    margin-bottom: 24px;
}

.product-one-title {
    width: 70%;
    margin-top: 0;
    margin-bottom: 24px;
}

.product-one-body {
    width: 85%;
    margin-bottom: 24px;
}

.product-two {
    display: flex;

}

.product-two-text {
    width: 50%;
    padding: 50px 50px;
    margin-left: 80px;
    margin-top: 40px;
}

.product-two-small {
    margin-bottom: 24px;
}

.product-two-title {
    width: 80%;
    margin-top: 0;
    margin-bottom: 24px;
}

.product-two-body {
    width: 70%;
    margin-bottom: 24px;
}

.message {
    background-color: #f0edf5;
    text-align: center;
    padding: 100px 20px 80px;
    margin-top: 100px;
}

.message .small-description {
    margin-top: 0;
    margin-bottom: 40px;
}

.message .section-title-purple {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.ingredients {
    display: flex;
    width: 100%;
    gap: 15px;
}

.ingredient {
    width: calc((100% - 45px) / 4);
    text-align: center;
}


.ingredient-image {
    width: 100%;
}

.ingredient-image img {
    display: block;
    width: 100%;
    height: auto;
}

.ingredient-image .ingredient-mobile {
    display: none;
}


.ingredient-text {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 10px;
}


.ingredient-subtitle {
    margin-top: 0;
    margin-bottom: 24px;
}

.years {
    padding: 100px 40px;
    margin-left: 80px;
}

.years-text {
    position: relative;
    width: 80%;
    margin-left: 10%;

}

.years-circle {
    position: absolute;
    width: 460px;
    height: 460px;
    background-color: #f0edf5;
    border-radius: 50%;
    left: 20%;
    top: 10%;
}

.years-small {
    margin-top: 0;
    margin-bottom: 24px;
}

.years-subtitle {
    position: relative;
    width: 60%;
    margin-top: 0;
    margin-bottom: 24px;
}

.love-icon {
    width: 40px;
}

.downimages {
    width: 100%;
    margin-bottom: 60px;
}

.downimages img {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.top-text,
.creating.creating-title,
.message .section-title-purple,
.years {
    overflow-x: clip;
}


@media (max-width: 850px) {

    .top {
        display: block;
        width: 100%;
        padding: 50px 40px;
    }

    .top-image {
        width: 100%;
    }

    .top-image img {
        display: block;
        width: 95%;
        margin-right: 20px;
    }

    .top-text {
        width: 100%;
        margin: 0;
        padding: 40px 20px;

    }

    .small-description {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .section-title-purple {
        width: 80%;
        margin-bottom: 24px;
    }

    .body-text {
        width: 90%;
        margin-bottom: 24px;
    }

    .creating {
        padding: 100px 40px;
    }

    .creating-title {
        width: 100%;
    }

    .creating-title h1 {
        width: 100%;

    }

    .creating-title p {
        width: 90%;
        margin-bottom: 40px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-box {
        width: 100%;
        margin-bottom: 40px;
    }

    .icon-box .body-text {
        width: 100%;
        margin-bottom: 24px;
    }

    .icon-box img {
        width: 70px;
        height: 70px;
    }


    .product-one {
        flex-direction: column;
    }


    .product-two {
        flex-direction: column-reverse;
    }

    .product-one-image,
    .product-one-text,
    .product-two-image,
    .product-two-text {
        width: 100%;
    }

    .product-two-small,
    .product-one-small {
        margin-top: 0;
    }

    .product-one-text,
    .product-two-text {
        padding: 40px 50px;
        margin-left: 0;
    }

    .product-one-title,
    .product-two-title {
        width: 90%;
        margin-bottom: 24px;
    }


    .product-one-body,
    .product-two-body {
        width: 100%;
        margin-bottom: 24px;
    }

    .message {
        padding: 60px 20px;
        margin-top: 60px;
    }

    .message .section-title-purple {
        width: 90%;
    }

    .ingredient-text {
        width: 100%;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }


    .ingredient-subtitle {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .ingredients {
        flex-wrap: wrap;
        gap: 15px;
    }

    .ingredient {
        width: calc((100% - 15px) / 2);
    }

    .years {
        padding: 60px 20px;
    }


    .years-text {
        width: 100%;
        margin-left: 0px;
    }

    .years-small {
        margin-bottom: 40px;
    }

    .years-subtitle {
        margin-bottom: 40px;
    }

    .years-circle {
        width: 380px;
        height: 380px;
        left: 20%;
        top: 20%;
    }

    .downimages img {
        height: 300px;
        object-fit: cover;
        object-position: center;
        margin-top: 40px;
    }

}


@media (max-width: 500px) {

    .top {
        padding: 50px 0px;
        margin: 0;

    }

    .top-text {
        padding: 0px 35px;
    }

    .top-image img {
        width: 90%;
        height: auto;
        margin-top: 0;


    }

    .section-title-purple {
        margin-bottom: 24px;
        width: 90%;
    }

    .body-text {
        width: 100%;
        margin-bottom: 24px;
    }

    .creating {
        padding: 100px 40px;
    }

    .creating-title {
        margin-bottom: 40px;
    }



    .creating-title p {
        width: 100%;
        margin-bottom: 40px;
    }

    .icons {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .icon-box {
        width: 33.33%;
        margin-bottom: 40px;
    }

    .icon-box .body-text {
        width: 100%;
        margin-bottom: 24px;
    }

    .icon-box img {
        width: 65px;
        height: 65px;

    }

    .product-image {
        width: 100%;



    }

    .product-one-text,
    .product-two-text {
        padding: 40px 30px;
    }

    .product-one-title {
        width: 100%;

    }

    .product-two-title {
        width: 85%;

    }

    .product-one-body,
    .product-two-body {
        width: 100%;
    }


    .message {
        padding: 60px 20px;
        margin-top: 60px;
    }

    .message .section-title-purple {
        width: 95%;
    }

    .ingredients {
        display: block;
    }

    .ingredient {
        width: 100%;
    }

    .ingredient-image .ingredient-desktop {
        display: none;
    }

    .ingredient-image .ingredient-mobile {
        display: block;
        width: 100%;


    }

    .ingredient-text {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        text-align: center;

    }

    .ingredient-subtitle {
        margin-top: 0;
        margin-bottom: 40px;

    }

    .years {
        padding: 60px 0;
    }

    .years-text {
        width: 100%;

    }

    .years-small {
        margin-bottom: 40px;
    }

    .years-subtitle {
        width: 100%;
        margin-bottom: 40px;

    }

    .years-circle {
        width: 280px;
        height: 280px;
        left: 20%;
        top: 20%;
    }

    .downimages img {
        height: 200px;

    }
}