.topsection {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px;
}

.topsectiontitle {
    padding: 40px 0px;
}

.bestbirthdaycakes {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.bestbirthdaycakesimages {
    background-image: linear-gradient(to right,
            transparent 0%,
            transparent 75%,
            #F0EDF5 100%), url(../images/birthdaycakeservice.png);
    width: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.bestbirthdaytext .section-subtitle {
    font-weight: 700;
}

.bestbirthdaytext {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.reasonsrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reasonsrowhide {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.reasonsrowmobile {
    display: none;
}

.reasons {
    width: 22%;
}

.reasonsimages {
    width: 100%;
    margin-bottom: 10%;
}

.bestbdaycakedescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-purple);
    padding: 5%;
    gap: 60px;

}

.paddingontop {
    padding-top: 100px;
}

.cakesizes {
    width: 100%;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cakesizeshide {
    width: 100%;
    padding: 30px;
    gap: 30px;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.cakesizescard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.cakesizescardexpose {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.sizescard {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sizescard1 {
    background-image: url(../images/cakesizes1.png);
}

.sizescard2 {
    background-image: url(../images/cakesizes2.png);
}

.sizescard3 {
    background-image: url(../images/cakesizes3.png);
}

.sizescard4 {
    background-image: url(../images/cakesizes4.png);
}

.cakesizesdescriptions {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.topnotchingredientssection {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
    margin: 70px 0px;
}

.topnotchingredients {
    background-image: url(../images/topnotchingredients.png);
    width: 45%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredientsimage {
    width: 100%;
}

.tickwithtext {
    flex-direction: row;
    display: flex;
    gap: 30px;
    text-align: left;
}

.topnotchingredientsdescriptions {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 30px;
}

.tickicon {
    width: 80px;
    height: 100%;
}

.ratinggrey {
    filter: saturate(0%) brightness(300%);
}

.cakereviews {
    display: flex;
    flex-direction: row;
    min-height: 650px;
    padding: 0px 30px;
    gap: 30px;
    justify-content: space-evenly;
    width: 100%;
}

.allcustomercards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
    width: 100%;
}

.cakereviewsintroduction {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 5%;
    background-color: var(--bg-purple);
    width: 50%
}

.customercards {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-purple);
    align-items: center;
    justify-items: center;
    padding: 5%;
    text-align: center;
    width: 100%;
}

.customerimages {
    width: 100%;
}

.ratingicons {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.rating,
.ratinggrey {
    max-width: 70px;
    width: 100%;
    height: 100%;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;

    .box-subtitle {
        display: flex;
        font-weight: 700;
        justify-content: center;
    }

    justify-content: space-between;
    row-gap: 30px;
}


@media screen and (max-width: 900px) {

    .bestbirthdaycakesimages {
        background-image: linear-gradient(to bottom,
                transparent 0%,
                transparent 75%,
                #F0EDF5 100%), url(../images/birthdaycakeservice2.png);
        width: 100%;
        height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
    }

    .bestbirthdaycakes {
        flex-direction: column;
    }

    .expose {
        display: none;
    }

    .reasonsrowhide {
        display: flex;
    }

    .reasons {
        width: 35%;
    }

    .bestbdaycakedescription {
        padding: 15%;
    }

    .cakesizescardexpose {
        display: none;
    }

    .cakesizeshide {
        padding-top: 0px;
        display: flex;
    }
}

@media screen and (max-width: 850px) {
    .topnotchingredientssection {
        flex-direction: column;
        align-items: center;
    }

    .topnotchingredients {
        width: 100%;
    }

    .topnotchingredientsdescriptions {
        width: 80%;
        padding: 0px;
    }

    .cakereviews {
        display: flex;
        flex-direction: column;
    }

    .cakereviewsintroduction {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .allcustomercards {
        flex-direction: column;
    }

    .customercards {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-purple);
        align-items: center;
        justify-items: center;
        padding: 10%;
        text-align: center;
        width: 100%;
    }

    .customerimages {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .reasons {
        width: 100%;
    }

    .reasonsrow,
    .reasonsrowhide {
        display: none;
    }

    .reasonsrowmobile {
        display: flex;
        justify-content: space-around;
        gap: 60px;
        flex-direction: column;
    }

    .bestbirthdaycakesimages {
        background-image: linear-gradient(to bottom,
                transparent 0%,
                transparent 75%,
                #F0EDF5 100%), url(../images/birthdaycakeservice.png);
        width: 100%;
        height: 700px;
    }

    .cakesizes,
    .cakesizeshide {
        margin: auto;
        row-gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .topnotchingredientsdescriptions {
        width: 100%;
    }

}