@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* === RESET / NORMALIZE === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === BASE VARIABLES === */
:root {
    --text-purple: #55328B;
    --text-black: #676371;
    --bg-white: #FFFFFF;
    --bg-purple: #F0EDF5;
    --bg-pink: #F9F1F2;
    --bg-blue: #EEF6F7;
    --bg-yellow: #F3E7D7;
    --bg-grey: #F9F9FB;
    --bg-drakblue: #212934;
    --font-bold: "Source Serif 4", serif;
    --font-regular: "Work Sans", sans-serif;
}

/* === GLOBAL TYPOGRAPHY  === */
.section-title-purple,
.section-subtitle,
.box-subtitle {
    font-family: var(--font-bold);
    color: var(--text-purple);
}

.section-title-white {
    font-family: var(--font-bold);
    color: var(--bg-white);
}

.section-title-purple,
.section-title-white {
    font-size: 56px;
    line-height: 67.8px;
    letter-spacing: -1px;
}

.box-subtitle {
    font-size: 25px;
    line-height: 1.36px;
}

.section-subtitle {
    font-size: 36px;
    line-height: 46.1px;
    letter-spacing: -1px;
}

.body-text,
.small-description {
    font-family: var(--font-regular);
    color: var(--text-black);
}

.small-description-white {
    font-family: var(--font-regular);
    color: var(--bg-white);
}

.body-text {
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 0;
}

.small-description, .small-description-white {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

/* === REUSABLE COMPONENTS === */

.icon {
    width: 18px;
    height: 18px;
    margin: 8px;
    padding: 8px;
}

.button-white {
    padding: 13px 29px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--bg-white);
    color: var(--text-purple);
}

.button-purple {
    padding: 13px 29px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--text-purple);
    color: var(--bg-white);
}

a {
    color: var(--text-purple);
    text-decoration: none;
}

/*header*/
.header {
    font-family: var(--font-regular);
}

.menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--text-purple);
    z-index: 1001;
}

.navigationtop {
    background-color: #F0EDF5;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    display: block;
    line-height: 20px;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0px 30px;
    max-width: 1700px;
    font-size: 14px;
}


.logo {
    width: 150px;
}


.navigationcontent {
    display: flex;
    gap: 38px;
    padding: 8px 0px 10px;
    font-size: 14px;
    justify-content: flex-end;
    margin: 0px 30px;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--text-purple);
}

.navigationcontent a,
.footercontent a {
    padding: 8px 0px 10px;
}

.submenu a:hover {
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--bg-grey);
    color: var(--bg-drakblue);
}

.navigationcontent a:hover,
.footercontent a:hover,
.has-submenu:hover>a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.footer .submenu a:hover,
.header .submenu a:hover {
    text-decoration: none;
}

.header .submenu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--bg-white);
    border-radius: 6px;
    min-width: 180px;
}

.footer .submenu {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    background-color: var(--bg-white);
    border-radius: 6px;
    min-width: 180px;
}


.submenu a {
    display: block;
    padding: 15px 20px;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover>.submenu {
    display: block;
}

.account {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 8px 0px 10px;
    color: var(--text-purple);
}


/*footer*/
.footer {
    font-family: var(--font-regular);
    color: var(--text-purple);
    padding: 40px 84.3924px;
    align-items: center;
    margin: 0px 38.75px;
}


.footertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footerright {
    width: 40%;


    h3 {
        font-family: var(--font-bold);
        font-size: 25px;
        text-align: center;
        line-height: 1.36;
        margin-top: 40px;
    }

    .enteremail {
        width: 60%;
        height: 48px;
    }

    .subscribe {
        width: 40%;
        height: 48px;
    }

    .enteremail input,
    .subscribe input {
        width: 100%;
        height: 48px;
        border-radius: 6px;
        padding: 0px 16px;
        font-size: 14px;
        font-family: var(--font-regular);
    }

    .enteremail input {
        border: 1px solid var(--bg-purple);
        color: black;
    }

    .subscribe input {
        border: 1px solid var(--text-purple);
        background-color: var(--text-purple);
        color: var(--bg-white);
    }

    form {
        display: flex;
        gap: 3%;
        margin-top: 30px;
    }
}



.footerleft {
    width: 60%;


    .footercontent {
        display: flex;
        margin-top: 30px;
        gap: 40px;
    }
}

.footerbottom {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    color: var(--text-black);
    align-items: center;
    justify-content: space-between;


    .copyright {
        width: 50%;
        margin: 20px 0px;
    }


    .socialmedia {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 5px;
        padding: 8px;

    }
}

@media screen and (max-width: 1176px) {
    .footertop {
        flex-direction: column;

        .footercontent {
            justify-content: center;
            text-align: center;
        }

        form {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .footerleft {
            width: 100%;
            text-align: center;
        }

        .footerright {
            width: 100%;

            .enteremail,
            .subscribe {
                width: 100%;
                margin: 0px 10px;
            }

        }

    }

    .footerbottom {
        flex-direction: column;

        .copyright {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}

@media screen and (max-width: 850px) {

    .section-title-purple,
    .section-title-white {
        font-size: 52px;
        line-height: 65.3px;
    }

    .section-subtitle {
        font-size: 35px;
        line-height: 44.9px;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .navigation {
        position: relative;
        justify-content: space-between;
    }

    .navigationcontent {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg-white);
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        z-index: 1000;
        padding: 10px 0px 10px 0px;
        font-size: 12px;
    }

    .navigationcontent.active {
        display: flex;
    }

    .menu-item {
        padding: 20px;
    }

    .has-submenu>.menu-item>a::after {
        content: "⌄";
        float: right;
        color: var(--text-black);
    }

    .submenu,
    .menu-item:hover {
        background-color: var(--bg-grey);
    }

    .navigationcontent a:hover {
        text-decoration: none;
    }

    .submenu {
        width: 100%;
        z-index: 1002;
        margin-top: 25px;
    }

    .submenu .menu-item {
        padding: 8px 30px;
    }

}









@media screen and (max-width: 771px) {
    .footer {
        padding: 40px 21.5451px;
    }

    .footerleft {
        margin: 0px 9.89583px;
    }

    .footercontent {
        flex-wrap: wrap;
    }

    .box-subtitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {

    .section-title-purple,
    .section-title-white {
        font-size: 40px;
        line-height: 48.4px;
    }

    .section-subtitle {
        font-size: 28px;
        line-height: 35.8px;
    }

    .footer-text {
        font-size: 22px;
    }

}