.section-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    width: 100%;
}

.contact{
    margin:0 auto 100px auto;
    padding:30px 20px 0 20px;
    gap:40px;
    width:100%;
    background-image: url('../images/contact_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:110px;
}

.email-call-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px;
    padding: 10px;
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 550px) {
    .contact-box{
        flex-direction: column;
        gap:40px;
    }
}