.herobanner {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.herobanner>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-text {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}


.herobanner .section-title-purple {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin: 0;
}


.herobanner .body-text {
    margin: 0;
    text-align: center;
    margin-top: 24px;
}

.story {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}


.story-image {
    width: 50%;
}

.story-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.small-description {
    margin: 24px 10px;

}

.story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 40px;
}

.story-title {
    margin-bottom: 24px;
    text-align: left;
}

.story-description {
    margin: 0;
    text-align: left;
    width: 85%;
}

.why-founded {
    display: flex;
    width: 100%;
    background-color: #F0EDF5;
    margin-bottom: 100px;
    padding: 35px;
    margin-top: 140px;

}


.why-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 30px 20px;
    border-right: 2px solid #5c3095;
    text-align: center;
}

.why-text .section-title-purple {
    margin-bottom: 40px;
}

.why-text .body-text {
    margin: 0;
}


.feature {
    display: flex;
    align-items: center;
    width: 70%;
}

.card {
    width: 33.33%;
    padding: 30px 10px;
    text-align: center;
}

.card img {
    display: block;
    width: 65px;
    height: 65px;
    margin: 0 auto 14px;
}

.card .section-subtitle {
    margin-bottom: 40px;
    margin-top: 40px;
}

.card .body-text {
    width: 65%;
    margin: 0 auto;
}

.founders {
    width: 100%;
    padding: 0 25px;
    text-align: center;
}

.founders>.section-title-purple {
    margin: 0 0 40px;
}


.founders .subtitle {
    width: 75%;
    margin: 0 auto;
}


.founder-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.founder {
    width: 45%;
    text-align: center;
}

.founder img {
    display: block;
    width: 100%;
    height: auto;
}

.founder .boy,
.founder .girl {
    margin-top: 40px;
    margin-bottom: 24px;
}

.founders .baking {
    margin: 40px auto 100px;
    text-align: center;
}

.timeline {
    width: 100%;
    padding: 0px 25px;
    text-align: center;
    margin-bottom: 100px;
}

.timeline .section-title-purple {
    margin: 0;

}

.timeline-subtitle {
    margin: 40px 0 40px;

}

.timeline-container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    width: 100%;
}

.timeline-card {
    width: 25%;
    min-height: 340px;
    padding: 38px 28px;
    background-color: #F0EDF5;
    text-align: center;
}

.timeline-card img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto 40px;
}

.timeline-card .section-subtitle {
    margin: 0 0 24px;
}

.timeline-card .body-text {
    margin: 0 0 24px;
}

.timeline-card .down {
    margin-bottom: 0;
}

.statistics {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 40px;
    text-align: center;
}

.stat {
    width: 25%;
}

.stat .section-subtitle {
    margin: 0 0 24px;
}

@media screen and (max-width: 850px) {
    .section-title-purple {
        font-size: 52px;
        line-height: 65.3px;
        letter-spacing: -1px;

    }

    .section-subtitle {
        font-size: 35px;
        line-height: 44.9px;
        letter-spacing: -1px;
    }


    .herobanner>img {
        height: 650px;

    }

    .herobanner .section-title-purple {
        height: 650px;
    }

    .herobanner .body-text {
        margin-left: 50px;
        margin-right: 50px;
        width: 88%;
    }

    .story {
        position: relative;
        flex-direction: column;
        padding-top: 100px;
    }

    .story-image {
        width: 100%;
        margin-top: 24px;
    }

    .story-image img {
        width: 100%;
        height: auto;
    }

    .story-content {
        display: block;
        width: 100%;
        padding: 0;
    }

    .story-title {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .small-description {
        margin: 24px 10px 0;
        text-align: center;
    }

    .story-description {
        margin: 24px 0 0px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .why-founded {
        flex-direction: column;
        padding: 50px 20px 50px;
        margin-top: 40px;
    }

    .why-text {
        width: 100%;
        padding: 0 25px 40px;
        border-right: none;
    }

    .why-text .section-title-purple {
        margin-bottom: 40px;
    }

    .why-text .body-text {
        width: 72%;
        margin: 0 auto;
    }

    .feature {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 100%;
        padding: 40px 40px;
    }

    .card img {
        width: 90px;
        height: 90px;
        margin-bottom: 18px;
    }

    .card .section-subtitle {
        margin-bottom: 40px;
    }

    .card .body-text {
        width: 100%;
    }

    .founders {
        padding: 0 0 0px;
    }

    .founders>.section-title-purple {
        margin: 0 20px 40px;

    }

    .founders .subtitle {
        width: 65%;
    }

    .founder-container {
        flex-direction: column;
        margin-top: 0px;
    }


    .founder {
        width: 100%;
    }

    .founder img {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .founder .boy,
    .founder .girl {
        margin-bottom: 24px;
    }

    .timeline {
        margin-bottom: 100px;
    }

    .timeline .section-title-purple {
        width: 80%;
        margin: 0 auto;
    }

    .timeline-subtitle {
        margin: 40px 0 40px;
    }

    .timeline-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .timeline-card {
        width: 47%;
        min-height: 280px;
        padding: 40px 40px;
    }

    .timeline-card img {
        width: 65px;
        height: 65px;
        margin: 0 auto 40px;
    }

    .timeline-card .down {
        margin-bottom: 0;
        width: 80%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .statistics {
        flex-wrap: wrap;
        row-gap: 45px;
    }

    .stat {
        width: 50%;
    }

    .stat .section-subtitle {
        margin-bottom: 24px;
    }

}


@media screen and (max-width: 500px) {
    .herobanner>img {
        height: 250px;
        width: 100%;
    }

    .herobanner .section-title-purple {
        height: 105px;
        margin-top: 70px;
    }

    .section-title-purple {
        font-size: 40px;
        line-height: 48.4px;
        letter-spacing: -1px;
    }

    .section-subtitle {
        font-size: 28px;
        line-height: 35.8px;
        letter-spacing: -1px;
    }

    .herobanner .body-text {
        margin: 15px;
        width: 95%;
        margin-top: 24px;
        margin-bottom: 0;
    }

    .story {
        padding-top: 105px;
    }

    .story-image {
        margin-top: 40px;
    }

    .story-title {
        top: 0px;
        padding: 0 20px;
    }

    .small-description {
        margin: 24px 10px 24px;
        text-align: left;
    }

    .story-description {
        margin: 0;
        padding: 0 15px;
        text-align: center;
    }

    .why-founded {
        padding: 20px 0 30px;
    }

    .why-text {
        margin: 0 auto;
        padding: 0 0 20px;
    }

    .why-text .section-title-purple {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .why-text .body-text {
        width: 90%;
        border-bottom: 2px solid #593093;
        padding-bottom: 40px;
    }

    .feature {
        width: 100%;
    }

    .card {
        width: 65%;
        margin: 0 auto;
        padding: 40px 0;
        border-bottom: 2px solid #593093;
    }

    .card:last-child {
        border-bottom: none;
    }

    .card .body-text {
        width: 65%;
    }


    .founders .subtitle {
        width: 90%;

    }

    .founder-container {
        margin-top: 0px;
    }

    .founders .baking {
        width: 88%;
        margin-top: 40px;
    }

    .timeline {
        padding: 0 40px;
    }

    .timeline .section-title-purple {
        width: 100%;
        margin: 0 auto;
    }

    .timeline-container {
        flex-direction: column;
        gap: 40px;
    }

    .timeline-card {
        width: 100%;
        min-height: 0;
        padding: 40px 40px;
    }

    .timeline-card img {
        width: 65px;
        height: 65px;
        margin: 0 auto 40px;
    }

    .timeline-card .down {
        margin-left: 30px;
        margin-right: 30px;
    }


    .statistics {
        flex-direction: column;
    }

    .stat {
        width: 100%;
        margin-bottom: 40px;
    }

    .stat .section-subtitle {
        margin-bottom: 24px;
    }


}