.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0edf5;
    margin-top: 25px;
    gap: 100px;
    overflow: hidden;
}

.heroleft {
    width: 30%;


    .section-title-purple {
        margin-bottom: 24px;
        margin-top: 24px;

    }

    .body-text {
        margin-bottom: 24px;

    }
}

.heroright {
    width: 40%;

    img {
        width: 759px;
        height: auto;
    }
}

/* Product Section */
.product {
    display: flex;
    margin-top: 100px;
    margin: 100px auto;
    width: 90%;
}

.productleft {
    width: 40%;
    padding: 0px 50px 0px 50px;

    .small-description {
        margin-bottom: 40px;
    }

    .section-subtitle {
        font-weight: 700;
        margin-bottom: 5px;
    }

}

.productright {
    display: flex;
    gap: 26px;
    justify-content: center;
    margin: 0px 12px 0px 12px;
    width: 60%;


    .box-subtitle {
        font-weight: 600;
        margin-top: 24px;
    }

    .body-text {
        margin-top: 24px;
    }

    .product1,
    .product2 {
        text-align: center;

    }

    .productimg {
        height: 380px;
        width: auto;
    }
}

/* Location Section */
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 100px auto;
    gap: 40px;

    .section-title-purple {
        padding: 0px 10px;
    }
}

.locationbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.locationimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 40px;
    gap: 20px;
}

.locationcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.bukitbintang,
.kepong {
    width: 100%;
    max-width: 550px;
}


.bukitbintang {
    background-color: var(--bg-purple);
}

.kepong {
    background-color: var(--bg-pink);
}

/*Get in touch Section*/
.sharing {
    margin: 100px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.sharing-top,
.sharing-bottom {
    display: flex;
    gap: 30px;
    width: 100%;
}

.sharing-photo-left,
.sharing-photo-right {
    width: 25%;
    object-fit: cover;
    display: block;
}

.sharing-content {
    width: 50%;
    background-color: var(--bg-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 80px 20px;
    box-sizing: border-box;

    .body-text {
        color: var(--bg-white);
    }
}

.sharing-bottom img {
    width: calc((100% - 90px) / 4);
    object-fit: cover;
    display: block;
}



.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/indexbanner.png);
    width: 100%;
    height: 612px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .small-description {
        color: var(--bg-white)
    }

    .section-title-purple {
        color: var(--bg-white);
        font-weight: 700;
        width: 70%;
    }
}

/* Media Queries */

@media (max-width: 1100px) {
    .product {
        flex-direction: column;
        align-items: center;
    }

    .productleft {
        text-align: center;
        width: 100%;

        .button-purple {
            margin: 0px 0px 40px 0px;
        }

        .section-subtitle {
            margin-bottom: 40px;
        }
    }


}

@media screen and (max-width: 880px) {
    .sharing {
        width: 100%;

    }

    .sharing-top,
    .sharing-bottom {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .sharing-content,
    .sharing-photo-left,
    .sharing-photo-right {
        width: 90%;
    }

    .sharing-bottom img {
        width: 90%;
    }

    .locationimage {
        flex-direction: column;
        align-items: center;
    }

    .bukitbintang,
    .kepong {
        width: 100%;
        max-width: 550px;
    }

    .locationcontent {
        flex-wrap: wrap;
        gap: 20px;
    }

}

@media (max-width: 850px) {
    .heroleft {
        position: absolute;
        margin: 0px 80px 0px 0px;
        width: 70%;

        background-color: var(--bg-white);
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0px 4px 20px #67637125;
    }

    .heroimg {
        height: 700px;
        width: auto;
    }

    .section-title-purple {
        font-size: 52px;
    }

    .productright {
        flex-wrap: wrap;
    }
}