.topsection {
    text-align: left;
    margin: 0 auto;
    padding: 3% 5%;
}

.newscards {
    border: 1px solid #F0EDF5;
    padding: 4% 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.newscardssection {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 40px;
}

.chips {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.dividervertical {
    background-color: #F0EDF5;
    height: 40px;
    width: 1px;
}

.dividerhorizontal {
    border: none;
    background-color: #F0EDF5;
    height: 1px;

}

.chipsgroup {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categories {
    color: #55328B;

}

.newsimage {
    width: 100%;
    height: auto;
}

.newsandrecipes {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: top;
    justify-content: space-between;
    margin: 0px 40px;
}

.recipeimage {
    width: 100%;
    height: auto;
}

.recipes {
    background-color: #F0EDF5;
    width: 35%;
    padding: 2% 2%;
    align-items: top;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
}

.recipescards {
    padding: 7% 7%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.recipescardstitle {
    padding-bottom: 5%;
}

.popularecipestitle {
    text-align: center;
}

@media screen and (max-width: 1200px) {}


@media screen and (max-width: 500px) {
    .newsandrecipes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        align-items: top;
        justify-content: space-between;
        margin: 0px 40px;
    }
}