.section-title-purple {
    padding: 24px;
}

.box-subtitle {
    font-weight: 700;
}

.topsection {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}


/*seasonal specials*/
.seasonal {
    display: flex;
    margin-top: 20px;


    .section-subtitle {
        margin: 24px 0px 24px 0px;
    }
}


.seasonalleft,
.seasonalright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 800px;
    padding: 20px;

    .section-subtitle {
        margin: 24px 0px 24px 0px;
        font-weight: 700;
    }
}

.seasonalleft {
    background-color: var(--bg-purple);
}

.seasonalright {
    background-color: var(--bg-pink);

    .body-text {
        margin-bottom: 42px;
    }
}

.pumpkin,
.tart {
    width: 400px;
}

.tart {
    margin-top: 100px;
}

/*categories*/
.categories {
    display: flex;
    width: 90%;
    margin: 100px auto;
    gap: 35px;

    .section-subtitle {
        font-weight: 700;
    }

    .box-subtitle {
        margin-top: 24px;
    }

    .body-text {
        margin: 10px 0px;
    }
}

.categoriesleft {
    text-align: center;
    width: 20%;
}

.categoriesright {
    display: flex;
    width: 80%;
    gap: 30px;
}

.categoriesright1,
.categoriesright2 {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    width: 50%;
}

.categoriesitem {
    width: 50%;
}

.categoriesimg {
    width: 100%;
}

/*best sellers*/
.bestseller {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.bestcontent {
    width: 90%;
    margin: 140px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.best1,
.best2,
.best3 {
    position: relative;
    width: 40%;
    padding: 190px 50px 70px 50px;


    .box-subtitle {
        margin-bottom: 30px;
        font-weight: 700;

    }
}

.bestsellerimg {
    position: absolute;
    max-width: 300px;
    top: -130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
}

.best1,
.best3 {
    background-color: var(--bg-pink);

}

.best2 {
    background-color: var(--bg-purple);
}

/*menu explore*/
.exploretitle {
    margin-top: 100px;
    text-align: center;


    .section-title-purple,
    .small-description {
        width: 90%;
        margin-bottom: 24px;
        margin: 0 auto;
    }
}

.sorting {
    margin: 30px 0px 10px 70px;


    .body-text {
        color: var(--text-purple);
        font-weight: 700;
    }
}

.exploreourmenuimg {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ourmenufood {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    gap: 20px;
    margin: 0 auto;
    text-align: center;

    .box-subtitle {
        margin: 10px 0px 10px 0px;
    }
}

.menufoodimg {
    width: 100%;
}


@media screen and (max-width: 1175px) {

    .categories {
        flex-direction: column;
        width: 90%;
    }

    .categoriesleft {
        width: 100%;
    }

    .categoriesright {
        width: 90%;
        flex-direction: column;
        margin: auto;
    }

    .categoriesright1,
    .categoriesright2 {
        width: 100%;
    }
}


@media screen and (max-width: 1050px) {
    .bestcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .best1,
        .best2,
        .best3 {
            width: 70%;
            margin-bottom: 120px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .seasonal {
        display: flex;
        flex-direction: column;
    }





}


@media screen and (max-width: 800px) {
    .ourmenufood {
        display: flex;
        flex-direction: column;
    }
}