.topsection {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/ordermenu.png);
    width: 90%;
    height: 453px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;

    .small-description {
        color: var(--bg-white)
    }

    .section-subtitle {
        font-weight: 700;
        color: var(--bg-white);

    }
}

.bannercontent {
    display: flex;
    margin-top: 24px;
    gap: 50px;
    align-items: center;
}

.bannerleft,
.bannerright {
    width: 100%;
}

.bannerright {
    padding: 15px;
    gap: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: var(--bg-white);
}

.search {
    width: 10%;
    height: 0 auto;
}

/*order*/
.orderfood {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.ordertop {
    display: flex;
    justify-content: space-between;
}

.choosecategories {
    display: flex;
    gap: 12px;
}



.choosecategories button {
    width: 160px;
    border-radius: 50px;
    background-color: var(--bg-white);
    border: 1px solid var(--text-purple);
    padding: 2px 10px 2px 10px;

}

.choosecategories .dessert {
    background-color: var(--text-purple);
    color: var(--bg-white);
}


.sorting {
    .body-text {
        color: var(--text-purple);
        font-weight: 600;
    }
}

.orderbottom {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.food,
.food2 {
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
    text-align: center;

    .small-description {
        margin-top: 10px;
    }

    .box-subtitle {
        font-weight: 700;
        margin: 5px 0 5px 0;
    }
}

.food2 {
    .box-subtitle {
        margin-top: 35px;
    }
}

.orderimg {
    width: 100%;
}

.amount {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.icon {
    width: 30px;
    padding: 0px;
    margin: 0;
    height: auto;
}

/*information*/
.information {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--bg-purple);
    gap: 50px;
    padding: 20px 50px 20px 50px;
    justify-content: space-between;
}

.informationleft {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .section-subtitle {
        font-weight: 700;
    }
}

.informationchoose {
    display: flex;

}

.delivery,
.pickup {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 10px 0 30px 0;
    ;
}

.delivery {
    background-color: var(--text-purple);

    .body-text {
        color: var(--bg-white);
    }
}

.pickup {
    background-color: var(--bg-white);

    .body-text {
        color: var(--text-purple);
    }
}

.informationright {
    width: 70%;
}

.name {
    display: flex;
    gap: 30px;
}

.f_lname,
.phonenumber,
.email,
.deliveryaddress,
.remarksbox {
    width: 100%;
    margin-bottom: 30px;
}

.f_lname input,
.phonenumber input,
.email input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-family: var(--font-regular);
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    padding: 15px 20px;
}

.deliveryaddress textarea,
.remarksbox textarea {
    height: 90px;
    width: 100%;
    border-radius: 5px;
    min-height: 100px;
    padding: 15px 20px;
    font-family: var(--font-regular);
    border: 1px solid var(--border-grey);

}

.submit {
    width: 30%;
    height: 40px;
    margin-left: auto;

}

.submit input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--text-purple);
    color: var(--bg-white);
    border-radius: 6px;
}

/*footerbanner*/
.footerbanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/orderfooter.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 100px;

    .small-description {
        color: var(--bg-white);
        margin-bottom: 24px;
    }

    .section-subtitle {
        color: var(--bg-white);
        font-weight: 700;
        margin-bottom: 24px;
        padding: 0 100px 0px 100px;
    }
}

.reminder {
    display: flex;
    gap: 120px;
}

.orders {
    width: 30%;

    .body-text {
        color: var(--bg-white);
    }
}

.reminderimg {
    width: 30%;
}

/*media screen*/
@media screen and (max-width: 1160px) {
    .ordertop {
        flex-direction: column;
    }

    .sorting {
        .body-text {
            text-align: center;
            margin: 24px 0px 24px 0px;
        }
    }
}

@media screen and (max-width: 850px) {
    .bannercontent {
        flex-direction: column;

        .bannerleft,
        .bannerright {
            width: 90%;
        }
    }

    .orderbottom {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .information {
        flex-direction: column;
    }

    .informationright,
    .informationleft {
        width: 100%;
    }

    .informationleft {
        .section-subtitle {
            margin: 24px;
        }
    }

    .reminder {
        flex-direction: column;
    }

    .orders {
        width: 100%;
    }
}