.section-intro-first,
.section-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    width: 100%;
}

.section-intro-first{
    background-image: url('../images/backgroundotheritem.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    margin: 0 auto;
    padding: 20px;
}

.headsection-box{
    display: flex;
    gap:0;
    margin: 0 0 100px 0;
    max-width: 1280px;
}

.bakery-tool-head,
.merch-head,
.birthday-item-head,
.gift-card-head{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    width:30%;
    height:300px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bakery-tool-head{
    background-image: url('../images/bakerytools.png');
}

.merch-head{
    background-image: url('../images/merch.png');
}

.birthday-item-head{
    background-image: url('../images/birthdayitem.png');
}

.gift-card-head{
    background-image: url('../images/giftcard.png');
}

@media screen and (max-width: 850px) { 
    .headsection-box{
        flex-wrap: wrap;
        gap:16px;
        max-width: 100%;
        padding: 0 15px;
    }

    .bakery-tool-head,
    .merch-head,
    .birthday-item-head,
    .gift-card-head{
        width: calc(50% - 8px);
        height:300px;
        padding:0;
    }

}


