.herobanner {
    margin:10px auto 100px auto;
    width:100%;
    height: 550px;
    background-image: url('../images/ourteambanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    max-height: 115px;
    text-align: center;
    gap:24px;
}

.founder{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    gap:72px;
}

.founder-image{
    width: 45%;
    height:550px;
}

.founder-content{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap:40px;
}

.small-size-founder-img{
    display:none;
}


.our-managers{
    display: flex;
    flex-direction: column;
    margin:100px auto;
    gap:40px;
    max-width: 1600px;
}

.managers-introduction,
.global-ambassadors-intro,
.join-team-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    width: 100%;
}

.managers{
    display: flex;
    width:100%;
    gap:40px;
}

.manager-box-purple,
.manager-box-pink{
    display: flex;
    flex-direction: column;
    width: calc((100%-80px) / 3);
}

.manager-box-purple{
    background-color: var(--bg-purple);
}

.manager-box-pink{
    background-color: var(--bg-pink);
}

.manager-pic{
    width:100%;
    height: 70%;
}

.manager-pic img,.founder-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.manager-detail{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
    padding:32px 40px;
    text-align: center;
    box-sizing: border-box;
    min-height: 220px;
}

.global-ambassadors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    gap:40px
}

.global-ambassadors-image{
    margin: 0 auto;
    width: 80%;
    max-height:860px;
}

.global-ambassadors-image img{
    width:100%;
    height:50%;
    border-radius: 67px;
}

.join-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/teambackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    max-width: 1698px;
    margin:100px auto 0 auto;
}

.job{
    border:1px solid var(--border-grey);
    border-radius: 10px;
    width:80%;
    margin:40px auto;
    gap:40px;
}

.job-box{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid var(--border-grey);
    gap:160px;
    margin:0 auto;
    padding: 35px;
    max-width: 1226px;
}

.job-describe,.job-name{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    gap:40px;
    width: 100%;
}

.job-required{
    display: flex;
    align-items: center;
    text-align: center;
    gap:35px;
    width: 100%;
}

.job-required span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-white);
    border:1px solid var(--border-grey);
    border-radius: 10px;
    padding: 10px;
    width: 35%;
}

.apply-job{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap:75px;
    width: 100%;
}

.apply-job span{
    text-decoration: underline;
}

.apply-job button{
    max-width: 161px;
    max-height: 53px;
    border:0;
    text-align: center;
}




@media screen and (max-width: 1110px) { 
    .founder{
        width:90%;
        gap:30px;
    }

    .founder-image{
        width: 48%;
        height:450px;
    }

    .founder-content{
        width: 45%;
    }


    .job-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        gap:40px
    }

    .job-describe,.job-name,.job-required, .apply-job{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {

    .herobanner{
        max-height: 388px;
    }

    .founder-image{
        height:400px;
    }



    .managers{
        gap:24px;
    }

    .manager-box-pink,
    .manager-box-purple{
        width:calc((100%-48px) / 3);
    }

    .manaager-pic{
        height: 50%;
    }

    .manager-detail{
        padding:20px 16px;
        min-height: 200px;
    }

}

@media screen and (max-width: 700px) {
    .herobanner{
        max-height: 278px;
    }

    .founder{
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 670px;
        margin:0 auto;
        align-items: center;
    }

    .founder-image{
        display:none;
    }

    .small-size-founder-img{
        display:block;
        width: 70%;
        height: auto;
    }

    .founder-content{
        width: 90%;
        max-width: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:30px;
    }

    .managers-introduction{
        margin: 0 auto;
        width: 80%;
    }

    .managers{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        gap:40px;
    }

    .manager-box-purple,
    .manager-box-pink{
        width: 80%;
    }

    .manager-pic{
        height: 40%;
    }

    .manager-detail{
        min-height: auto;
    }

    .global-ambassadors-image{
        margin: 0 auto;
        width: 100%;
        max-height:860px;
    }

    .global-ambassadors-image img{
        border-radius: 0;
    }



}
