.herobanner {
    margin:10px auto 100px auto;
    position: relative;
    width:100%;
    height: 550px;
    background-image: url('../images/ourteambanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    max-height: 115px;
    text-align: center;
    gap:24px;
}

@media screen and (max-width: 850px) {

    .herobanner{
        max-height: 388px;
    }

}

@media screen and (max-width: 700px) {
    .herobanner{
        max-height: 278px;
    }

}
