.section-intro,
.section-intro-promotion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    width: 100%;
}

.promotion-banner{
    margin:0 0 100px 0;
    width:100%;
    height: 520px;
    background-image: url('../images/promotionbanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
}

.section-intro-promotion{
    max-width: 400px;
    gap: 24px;
    position:absolute;
    top: 32%;
    left: 8%;
}

.seasonal-promotion{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    gap:40px;
}

.container-seasonal-promotion-option{
    display:flex;
    justify-content: space-between;
    max-width: 1100px;
    gap:60px;
}

.seasonal-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.container-seasonal-promotion-img{
    max-width: 350px;
}

.current-deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 100%;
    width:100%;
    max-width: 1100px;
    padding: 0 20px;
    gap:40px;
}

.carousel{
    position:relative;
    width:100%;
    height:400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display:flex;
    height:100%;
}

.slide{
    width:100%;
    min-width: 100%;
    height:100%
}

.slide img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.control{
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

button{
    background: var(--bg-purple);
    border:none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    width:40px;
    height:40px;
    transition: 0.3 ease;
}

button:hover{
    background: var(--bg-white);
}

.promotion-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:40px;
    max-width:1000px;
    align-items: center;
    gap:20px;
    width: 100%;
    margin: 0 auto;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:12px;
    width:calc(16.666% - 17px);
    box-sizing: border-box;
}

.list img{
    width: 70%;
}


.dont-miss-out{
    background-color: var(--bg-purple);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
}

.missout-pic{
    width:40%;
    min-height:100%;
    overflow: hidden;
}

.missout-pic img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.missout-text{
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap:40px;
    padding:60px 40px;
    
}

@media screen and (max-width: 1054px) {
    .list{
        width:calc(33.333% - 14px);
    }

    .list img{
        width: 50%;
    }

    .pic-wrap{
        min-width:90%;
        padding-top: 80%;
        border-radius: 0;
    }


}

@media screen and (max-width: 850px) {

    .seasonal-promotion{
        max-width: 700px;
        padding: 0 10px;
    }

    .container-seasonal-promotion-option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width:none;
    }

    .seasonal-box{
        max-width: 400px;
    }
 
    
}

@media screen and (max-width: 780px) {

    .promotion-picture{
        width: 100%;
    }

    .promotion-list{
        max-width: 500px;
    }

    .list{
        width:calc(50% - 10px);
    }

    .list img{
        width: 60%;
    }

    .dont-miss-out{
        flex-direction: column;
        gap: 0px;
    }

    .missout-pic{
        width: 100%;
    }

    .missout-text{
        width: 100%;
        padding: 80px 40px;
        gap: 15px;
    }

}

