.services {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    overflow: hidden;
}

.services h1 {
    margin-bottom: 40px;
}

.services-img {
    width: 84%;
    height: auto;
    margin: 0 auto;
}

.services-big {
    display: block;
}

.services-one,
.services-two {
    display: none;
}

.offer-services {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    overflow: hidden;
}

.offer-header {
    width: 100%;
    margin: 0 auto;
}

.offer-header .we {
    width: 84%;
    margin: 30px auto 30px;
}

.offer-list {
    width: 85%;
    margin: 140px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 200px;

}

.offer-card {
    position: relative;
    width: 40%;
    padding-top: 172px;
    background-color: #F0EDF5;

}

.offer-main-img {
    position: absolute;
    max-height: 230px;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 40px;
}

.offer-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.offer-card-title>img {
    max-width: 30px;
    max-height: 30px;

}

.offer-card>.body-text {
    width: 65%;
    margin: 30px auto 30px;
}

.service-rating {
    width: 100%;
    padding: 35px 0 45px;
    text-align: center;
    background-color: #F9F1F2;
    margin-bottom: 100px;
}


.rating-header {
    width: 100%;
}

.rating-header .section-title-purple {
    margin-top: 40px;
}

.rating-header .body-text {
    width: 83%;
    margin: 40px auto 40px;
}

.rating-list {
    width: 94%;
    margin: 40px auto 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}


.rating-star {
    width: 58px;
    height: auto;
}


.rating-item .section-subtitle {
    margin: 40px 0 40px;
}


.rating-item .body-text {
    margin: 40px 0 40px;
}

.people-services {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}


.people-header {
    width: 100%;
}

.people-header .body-text {
    width: 80%;
    margin: 40px auto;
}

.people-list {
    width: calc(100% - 50px);
    max-width: 1150px;
    height: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 25px;


}

.people-card {
    width: calc((100% - 75px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border-radius: 15px;
}

.purple-card {
    background-color: #F0EDF5;
}

.pink-card {
    background-color: #F9F1F2;
}

.people-number {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
}


.people-number img {
    width: 30px;
    height: 30px;
}

.people-card>.body-text {
    margin: 40px 0 0;
}

.delivery {
    width: 100%;
    text-align: center;

}


.delivery-picture {
    width: 100%;
    position: relative;
}


.delivery-img {
    width: 100%;
    display: block;
}


.delivery-850,
.delivery-500 {
    display: none;
}



.delivery-title {
    position: absolute;
    width: 100%;
    top: 35px;
    left: 0;
    margin: 0;
}



.delivery-content {
    width: 100%;
}


.delivery-content .body-text {
    width: 70%;
    margin: 40px auto 0px;
}


@media screen and (max-width: 850px) {

    .services-big,
    .services-two {
        display: none;
    }

    .services-one {
        display: block;
        width: 81%;
        margin: 0 auto;
    }


    .offer-services {
        padding-top: 20px;
    }

    .offer-services h1 {
        width: 100%;
    }

    .offer-header .we {
        width: 84%;

    }

    .offer-main-img {
        margin-bottom: 30px;
    }

    .offer-list {
        width: 70%;
        margin: 140px auto 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 160px;
    }

    .offer-card {
        width: 100%;
    }

    .offer-card-title>img {
        max-width: 25px;
        max-height: 25px;
    }

    .offer-card>.body-text {
        width: 55%;
    }

    .rating-header .body-text {
        width: 68%;
    }

    .rating-list {
        width: 88%;
        margin: 40px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 40px;
    }

    .rating-item {
        width: calc((100% - 20px) / 2);
        margin-top: 40px;

    }


    .people-header .section-title-purple {
        width: 80%;
        margin: 0 auto;
    }

    .people-header .body-text {
        width: 80%;
    }

    .people-list {
        width: 86%;
        flex-wrap: wrap;
        row-gap: 50px;
        height: auto;
        margin: 0 auto;
        column-gap: 50px;
    }

    .people-card {
        width: calc((100% - 50px) / 2);
        height: 220px;
    }


    .delivery-big {
        display: none;
    }


    .delivery-850 {
        display: block;
    }


    .delivery-title {
        top: 30px;
    }

    .delivery-content .body-text {
        width: 75%;
    }

}


@media screen and (max-width: 500px) {

    .services-big,
    .services-one {
        display: none;
    }

    .services-two {
        display: block;
        width: 91%;
        margin: 0 auto;
    }

    .offer-header .we {
        width: 95%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .offer-list {
        width: 100%;
        margin-top: 120px;
        row-gap: 120px;
    }

    .offer-card {
        padding-top: 170px;
    }

    .offer-main-img {
        top: -80px;
    }

    .offer-card>.body-text {
        width: 68%;
    }

    .rating-header .body-text {
        width: 90%;

    }

    .rating-item {
        width: 100%;
    }


    .people-services {
        margin-bottom: 60px;
    }

    .people-header .section-title-purple {
        width: 70%;
    }

    .people-header .body-text {
        width: 93%;
    }

    .people-list {
        width: 60%;
        row-gap: 40px;
    }

    .people-card {
        width: 100%;
        align-items: center;
    }


    .delivery-850 {
        display: none;
    }


    .delivery-500 {
        display: block;
    }


    .delivery-title {
        width: 90%;
        top: 20px;
        left: 5%;
    }

    .delivery-content .body-text {
        width: 95%;

    }

}