.services {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.services-img {
    width: 84%;
    height: auto;
    margin: 0 auto;
}


.services-big {
    display: block;
}

.services-one,
.services-two {
    display: none;
}



@media screen and (max-width: 850px) {

    .section-title-purple {
        font-size: 52px;
        line-height: 65.3px;
        letter-spacing: -1px;
    }

    .section-subtitle {
        font-size: 35px;
        line-height: 44.9px;
        letter-spacing: -1px;
    }

    .services-big,
    .services-two {
        display: none;
    }

    .services-one {
        display: block;
        width: 81%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 500px) {

    .section-title-purple {
        font-size: 40px;
        line-height: 48.4px;
        letter-spacing: -1px;
    }

    .section-subtitle {
        font-size: 28px;
        line-height: 35.8px;
        letter-spacing: -1px;
    }

    .services-big,
    .services-one {
        display: none;
    }

    .services-two {
        display: block;
        width: 91%;
        margin: 0 auto;
    }
}